doctype html
html(lang ='es' class="full" ng-app="appTask")
  head
    title Task Master

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")

    link(rel="stylesheet" href="public/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="public/css/main.css")
    
    script(type="text/javascript", src="public/js/jquery-1.12.3.min.js")

  body
    // Navbar
    nav.brown.darken-4
      .nav-wrapper
        a.brand-logo.left(href='javascript:;')
          span.loguito task
            span.light-green-text.text-accent-4 Master
        ul.right
          li
            a(href='javascript:;') 
              i.material-icons input

    block contenido


  script(type="text/javascript" src="public/js/angular.min.js")
  script(type="text/javascript" src="public/js/app.js")
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(type="text/javascript", src="public/js/materialize.min.js")
