doctype html
html(lang ='es')
  head
    title Repaso de node con express
    meta(charset="UTF-8")
    link(rel="stylesheet", href="public/css/bootstrap.min.css")
  body
    h1 Este es un encabezado para todos!!! /,,/
    block contenido
    
  script(type="text/javascript" src="public/js/angular.min.js")
  script(type="text/javascript" src="public/js/app.js")
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(type="text/javascript", src="public/js/jquery-1.12.3.min.js")
  script(type="text/javascript", src="public/js/bootstrap.min.js")
