doctype html
html(lang ='es' class="full" ng-app="appTask")
  head
    title Repaso de NodeJS son Express

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")

    link(rel="stylesheet" href="public/css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="public/fonts/font-awesome.min.css" type="text/css")

    link(rel="stylesheet" href="public/css/the-big-picture.css")

    script(type="text/javascript", src="public/js/jquery-1.12.3.min.js")

  body
    block contenido

    script.
      $(window).load(function() {
        $('#loginModal').modal('show');
      });

      $(document).ready(function() {

        $('#loginModal').on('hidden.bs.modal', function (e) {
          window.location.href="/";
        });
      });


  script(type="text/javascript" src="public/js/angular.min.js")
  script(type="text/javascript" src="public/js/app.js")
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(type="text/javascript", src="public/js/bootstrap.min.js")
