extends ./layouts/main.jade
block contenido
  div(class="modal fade" tabindex="-1" role="dialog" id="loginModal")
    div(class="modal-dialog modal-sm")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Cerrar")
            span(aria-hidden='true') &times;
          h2(class="modal-title") Login Encrypted
          h4(class="modal-title") Seguridad en Redes y Tecnología Móvil

        div(class="modal-body")
          form(class="form-horizontal" id="login" method="POST", action="/login")
            h3 Iniciar sesión

            div(class="form-group")
              div(class="col-sm-12")
                div(class="input-group")
                  span(class="input-group-addon")
                    i(class="glyphicon glyphicon-envelope")
                  input(type="text" class="form-control" placeholder="Correo electrónico", name="email", id="email")

            div(class="form-group")
              div(class="col-sm-12")
                div(class="input-group")
                  span(class="input-group-addon")
                    i(class="glyphicon glyphicon-lock")
                  input(type="password" class="form-control" placeholder="Contraseña" name="password" id="password")

            div(class="form-group")
              div(class="col-sm-12")
                input(type="checkbox" class="js-switch")
                label(style="padding-left: 10px;") Recordar mis datos

            div(class="form-group")
              div(class="col-sm-12")
                input(type="submit" value="Aceptar" class="btn btn-primary btn-block")

          div(class="modal-footer")
            a(href="/registrar")  Registrarse
            |.
