extends ./layouts/main.jade
block contenido
  .login
    .row
      .col-xs-12.center
        h4.loguito task
          span.light-green-text.text-accent-4 Master
      .col-xs-12.center
        p Tus pendientes sólo cuando los necesitas
    .row
      .col-xs-12
        h5 Iniciar sesión
      .row
        form.col.s12(id="login" method="POST" action="/login")
          .row
            .input-field.col.s12
              input(type="email" class="validate" name="email" id="email")
              label(for="email") Correo electrónico
          .row
            .input-field.col.s12
              input(type="password" class="validate" name="password" id="password")
              label(for="password") Contraseña

          .row.margin-15
            p.col.s12
              input(type="checkbox" class="js-switch" id="recordar")
              label(for="recordar") Recuérdame

          .row
            .col.s12
              input(type="submit" value="Aceptar" class="btn btn-block waves-effect waves-light light-green accent-4")

        .col.s12
          a.link(href="/registrar")  Registrarse
