doctype html
html(lang ='es' class="full")
  head
    title Repaso de NodeJS son Express

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    
    link(rel="stylesheet" href="public/css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="public/fonts/font-awesome.min.css" type="text/css")

    link(rel="stylesheet" href="public/css/the-big-picture.css")
    
    script(type="text/javascript", src="public/js/jquery-1.12.3.min.js")

body
  div(class="alet alert-danger")
    h1(style="color: #FFF;") No ha iniciado sesión
