extends ./layouts/main.jade
block contenido
  .login#registrarse
    .row
      .col-xs-12.center
        h4.loguito task
          span.light-green-text.text-accent-4 Master
      .col-xs-12.center
        p Tus pendientes sólo cuando los necesitas
    .row
      .col-xs-12
        h5 Registrarse
      .row
        form.col.s12(id="registrar" method="POST" action="/registrar")
          .row
            .input-field.col.s12.m6
              input(type="email" name="email" id="email")
              label(for="email") Correo Electrónico
            .input-field.col.s12.m6
              input(type="password", name="password" id="password")
              label(for="password") Contraseña
          .row
            .input-field.col.s12.m6
              input(type="password" name="confirmarPassword" id="confirmarPassword")
              label(for="confirmarPassword") Confirmar contraseña
            .input-field.col.s12.m6
              input(type="text", name="nombre" id="nombre")
              label(for="nomrbe") Nombre
          .row
            .input-field.col.s12.m6
              input(type="text", name="paterno" id="paterno")
              label(for="paterno") Apellido paterno
            .input-field.col.s12.m6 
              input(type="text", name="materno" id="materno")
              label(for="materno") Apellido materno
          .row
            .col.s12
              input(type="submit" value="Cuardar" class="btn btn-block waves-effect waves-light light-green accent-4")

        .col.s12
          a.link(href="/")  Iniciar sesión
