extends ./layouts/application.jade
block contenido
  #{pendientes}
  div(id="tasksDiv" ng-controller="taksController" ng-init="init('#{usuario}', '#{pendientes}' ? '#{pendientes}' : '{}')")
    ul(ng-repeat="pendiente in pendientes track by $index")
      li {{pendiente.descripcion}}
      li {{pendiente.fecha}}
      li {{pendiente.prioridad}}
      li {{pendiente.terminada}}
      
// 
  div(class="modal fade" tabindex="-1" role="dialog" id="loginModal")
    div(class="modal-dialog modal-sm")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Cerrar")
            span(aria-hidden='true') &times;
          h2(class="modal-title") Modal

        div(class="modal-body" ng-controller="taskController")
          form(role="form")
            div(class="form-group")
              label(for="descripcion") Descripción
              input(type="text" class="form-control" ng-model="nuevoPendientes.descripcion")
            div(class="form-group")
              label(for="fecha") Fecha:
              input(type="text" class="form-control" ng-model="nuevoPendientes.fecha")
            div(class="form-group")
              label(form="prioridad") Prioridad: 
              input(type="text" class="form-control" ng-model="nuevoPendientes.prioridad")
            div(class="form-group")
              input(type="checkbox" ng-model="nuevoPendientes.terminada") Terminada
            button(type="submit" value="Guardar" ng-submit="sendPost()")
            
          h1 Cuerpo.
        div(class="modal-footer")
          p Pie.
