extends ./layouts/application.jade
block contenido
  div(id="tasksDiv" ng-controller="taksController" ng-init="init('#{usuario}', '#{pendientes}' ? '#{pendientes}' : '{}')")
    .row
      .col.s12.m6.l4(ng-repeat='pendiente in pendientes track by $index')
        .card.white
          .card-content.brown-text.text-darken-4
            .row.date
              a(ng-click="deletePendiente(pendiente._id)")
                i.material-icons clear
              p {{pendiente.fecha}}
            p {{pendiente.descripcion}}
          .card-action.rojo(ng-if="!pendiente.terminada")
            a.waves-effect.waves-light.btn.light-green.accent-4.right(ng-click="terminarPendiente(pendiente._id)") Terminar
          .card-action.verde(ng-if="pendiente.terminada")
            p.light-green-text.text-accent-4(ng-if="pendiente.terminada") Terminada
    a.btn-floating.btn-large.waves-effect.waves-light.light-green.accent-4.modal-trigger(href="#nuevaModal")
      i.material-icons add

    // Modal de nuevo pendiente
    .modal.fade(id='nuevaModal')
      .modal-content.light-green-text.text-accent-4
        h4 Nuevo pendiente
        form(role='form')
          .row
            .input-field.col.s12
              input(id='descripcion' type='text' ng-model='nuevoPendiente.descripcion')
              label(for='descripcion') Descripción
          .row
            .input-field.col.s12
              input.datepicker(id='fecha' type='date' placeholder='dd/mm/yyyy' ng-model='nuevoPendiente.fecha')
              label.active(for='fecha') Fecha
          .row
            .input-field.col.s12
              input(id='prioridad' type='text' ng-model='nuevoPendiente.prioridad')
              label(for='prioridad') Prioridad
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='javascript:;' ng-click='sendPendiente()') Agregar

  script.
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
      $('.datepicker').pickadate();
    });
