body, .input-field > * {
  font-family: "Roboto", sans-serif !important;
}

/* Out system style */
.login {
  width: 350px;
  background-color: #fff;
  color: #354f00;
  margin: 15px auto;
  border-radius: 1%;
}

@media only screen and (max-width: 375px) {
  .login {
    width: 100%;
    margin: 10px 0 0;
  }
}

#login > .row {
  margin-bottom: 0;
}

.center {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* label color */
.login .input-field label {
  color: #354f00;
}
/* label focus color */
.login .input-field input[type=email]:focus + label, .login .input-field input[type=password]:focus + label, .login .input-field input[type=text]:focus + label {
  color: #354f00;
}
/* label underline focus color */
.login .input-field input[type=email]:focus, .login .input-field input[type=password]:focus, .login .input-field input[type=text]:focus {
  border-bottom: 1px solid #354f00;
  box-shadow: 0 1px 0 0 #354f00;
}
/* valid color */
.login .input-field input[type=text].valid {
  border-bottom: 1px solid #76ff03;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.login .input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.login .margin-15 {
  margin-bottom: 15px !important;
}

.loguito {
  color: #3e2723;
  font-weight: initial;
}

.loguito > span {
  font-weight: bold;
}

.login .link {
  color: #795548;
  margin-left: 10px;
}

.login .link:link {
  color: #64dd17;
}

.login .link:hover {
  color: #3e2723;
}

.login .btn-block {
  margin-bottom: 15px;
}


#registrarse {
  width: 700px;
  background-color: #fff;
  color: #354f00;
  margin: 15px auto;
  border-radius: 1%;
}

@media only screen and (max-width: 700px) {
  #registrarse {
    width: 100%;
    margin: 10px 0 0;
  }
}

/* Application style */
.brand-logo {
  padding-left: 10px !important;
}

nav .loguito {
  color: #fff;
}

.date > p {
  font-family: "Roboto Condensed";
  float: right;
  font-size: 12px;
}

.date > a {
  color: #64dd17;
}

.rojo {
  border-top: 2px solid #d32f2f !important;
}

.naranja {
  border-top: 2px solid #ffb74d !important;
}

.amarillo {
  border-top: 2px solid #fff176 !important;
}

.verde {
  border-top: 2px solid #354f00 !important;
}

.card-action {
  padding: 10px !important;
  height: 58px !important;
}